:root {
    font-family:'Courier New', Courier, monospace;
}

html, body {
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-container {
    gap: 0.5rem;
    width: 50rem;
    display: flex;
    justify-content: center;
}

button {
    border-style: none;
    margin: 0;
    padding: 0;

    min-width: 6rem;
    padding: 1rem;
    
    background-color: aquamarine;
    font-weight: bold;
    border: 0.1rem solid black;
    border-radius: 5px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    min-height: 18rem;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgba(121, 42, 42, 0.938);
    border: 0.25rem solid black;

    padding: 1rem;
    box-sizing: border-box;

    gap: 1rem;
}

.book {
    height: 15rem;
    width: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;;

    background-color: rgb(255, 227, 189);
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.3);
    box-sizing: border-box; 
    
    border-left: 8px solid rgb(252, 196, 56);
    border-radius: 5px;
}

.book:hover {
    background-color: rgb(70, 70, 189);
    color: white;
    box-sizing: border-box;
}

.book-title,
.book-author,
.book-pages {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border-bottom: solid black 2px;
}

.button-read {
    border-style: none;
    margin: 0;
    padding: 0;

    min-width: 1rem;
    padding: 1rem;
    
    background-color: rgb(255, 53, 53);
    font-weight: bold;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button-cancel {
    background-color: lightcoral;
}